@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&family=Roboto:ital,wght@0,500;1,300&display=swap");

#description > * {
  text-align: left;
}

h1 {
  font-family: "Lora", serif;
  font-size: 50px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 1px 2px 1px white;
  border-bottom: 10px solid #999;
  color: #999;
  text-shadow: 2px 2px 1px white;
}

img {
  width: 600;
  height: 750px;
  margin-left: 100px;
}

.description {
  display: inline-block;
  position: absolute;
  font-family: "Lora", serif;
  font-weight: bold;
  margin-left: 80px;
  font-size: 30px;
  color: #999;
  max-width: 50%;
  text-align: left;
}

@media (max-width: 760px) {
  #description > * {
    text-align: center;
  }
  p {
    font-size: 25px;
    max-width: 100%;
    margin-left: 10px;
  }

  img {
    height: 400px;
    width: 300px;
    margin-left: 0px;
  }

  .description {
    display: block;
    margin-top: 10px;
    max-width: 70%;
  }
}
