@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap");

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.title-description {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  border-bottom: 3px solid #999;
  color: #999;
  text-shadow: 1px 1px 1px white;
}

.img-description {
  width: 600px;
  height: 750px;
  padding: 30px;
}

.movie-description {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 40px;
  font-size: 30px;
  color: #999;
  max-width: 50%;
  text-align: left;
}

@media (max-width: 760px) {
  .description > * {
    text-align: center;
    margin-top: 10px;
    max-width: 70%;
    flex-wrap: wrap;
  }
  .movie-description {
    font-size: 25px;
    max-width: 100%;
    margin-left: 10px;
  }

  .img-description {
    height: 400px;
    width: 300px;
    margin-left: 0px;
  }
}
